body {
  margin: 0px;
  padding: 0px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

#heading {
  background-color:	#e10000;
  color: white;
  padding: 2vw 0vw 20px 0vw;
}
  #heading h1 {
    font-size: 250%;
  }
  #roll {
    margin-top: 4vw;
  }
    .selector-label {
      font-size: larger;
    }
    #options {
      padding: 5px;
      font-size: larger;
    }
    #roll-button {
      margin-top: 20px;
      padding: 10px 20px 10px 20px;
      border-radius: 25px;
      font-family: 'Rubik';
      font-size: larger;
    }